/* General */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
  background-color: rgb(50, 50, 50);
  border: solid 2px white;
  box-shadow: 2px 2px 2px 2px grey;
}

.button {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
.button:hover{
  color: rgb(136, 136, 136);
  background-color: rgb(50, 50, 50);
  border: solid 2px white;
  box-shadow: 2px 2px 2px 2px grey;
}

.link {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  min-width: 15%;
  border: solid 2px grey;
  border-radius: 5px;
}
.link:hover{
  color: rgb(136, 136, 136);
  background-color: rgb(50, 50, 50);
  border: solid 2px white;
  box-shadow: 2px 2px 2px 2px grey;
}

/* - - - - - - - - - - */

/* Navbar */

nav{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  padding: 1rem;
}

.navsection {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: flex-start;
  padding: 1rem;
}

.navsection2 {
  display: flex;
  flex-direction: row-reverse;
  width: 80vw;
  height: 8%;
  justify-content: flex-end;
  padding: 1rem;
}

.back-btn {
  rotate: 180deg;
  font-size: 2rem;
}

/* - - - - - - - - - - */

/* Footer */

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

/* - - - - - - - - - - */

/* Form */

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

/* - - - - - - - - - - */

/* Card */

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}
.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
  box-shadow: 2px 2px 2px 2px grey;
}

.card-flex{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

/* - - - - - - - - - - */

/* Detail */

.detail-card {
  margin: 5% 10%;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.detail-card section {
  min-width: 50vw;
}




/* - - - - - - - - - - */

/* Others */

/* creo regla con grid */
.wrapper {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* - - - - - - - - - - */

/* Dark mode */

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

/* - - - - - - - - - - */

/* Contact */

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

/* - - - - - - - - - - */

/* Hidden / Visible */

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible,
}

